.box-form {

    .box-action {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .password {
            color: var(--secondary);
            font-size: 0.75rem;
            font-weight: 600;
            line-height: 1.4rem;
            text-decoration: none;
        }
    }

    .btn-form {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 40px;
        overflow: hidden;
        padding-right: 24px;
        padding-left: 8px;
        font-family: inherit;
        border: 1px solid rgb(218, 224, 227);
        border-radius: 16px;
        cursor: pointer;
        position: relative;
        gap: 30px;

        &:hover {
            color: var(--bs-btn-hover-color);
            background-color: var(--hover);
            border-color: var(--hover);
        }

        i {
            color: var(--secondary);
        }

        span {
            margin: auto;
            font-size: 0.75rem;
            font-weight: 600;
            color: var(--primary);
        }
    }
}
